@font-face {
  font-family: 'n27regular';
  src: url('/fonts/n27-regular-webfont.eot');
  src: url('/fonts/n27-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/n27-regular-webfont.woff2') format('woff2'),
       url('/fonts/n27-regular-webfont.woff') format('woff'),
       url('/fonts/n27-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  height: 100%;
  margin: 0;
}

  header {
  text-align: center;
}

.logo-header {
  max-width: 3%;
  padding-top: 3%;
}


.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.vertical-menu {
  padding-top: 5%;
}

.vertical-menu a {
  font-family: "n27regular"; 
  text-align: center;
  font-size: 20px;
  padding: 8px;
  text-decoration: none;
  color: #333;
  display: block;
}

.vertical-menu a:hover {
  text-decoration: underline;
}

.content {
  font-family: "n27regular";
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}



footer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-section {
  color: black;
  text-decoration: none;
  font-size: 10px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bruma {
  max-width: 30%;
  height: auto;
}

.username{
  font-family: "n27regular"; 
  margin-left: 20px;
}
.año {
  font-family: "n27regular"; 
  color: black;
  text-decoration: none;
}

.año2 {
  color: black;
  text-decoration: none;
}


.instagram-icon {
  max-width: 25px; 
  height: auto;
}







form {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 2%;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  resize: none; /* Evita que el textarea sea redimensionable */
}

button {
background-color: transparent; /* Hace el fondo transparente */
color: black; /* Cambia el color del texto del botón */
cursor: pointer;
border: none;
font-family: "n27regular"; 
align-self: flex-end; /* Mueve el botón hacia la derecha */
  margin-top: 10px; /* Agrega un margen superior según sea necesario */
}


.contact_us {
text-align: left;
margin-top: 20px;
margin-left: 10%;
}

.contact_us h2 {
margin-bottom: 10px;
}

.contact-info {
display: flex;
align-items: center;
margin-bottom: 10px;
margin-top: 50px;
}

.info-label {
flex-basis: 100px; /* Ancho fijo para las etiquetas */
margin-right: 50px;
}

.info-value {
margin-left: 40px;
}


.instagram {
max-width: 25px; 
height: auto;
margin-right: 15px;
}
.instagram-container {
display: flex;
align-items: center;
}



.vertical-menu a.active {
text-decoration: underline; /* o cualquier otro estilo que desees */
font-weight: bold; /* para hacerlo más destacado, si lo prefieres */
}










