@font-face {
    font-family: 'n27regular';
    src: url('/fonts/n27-regular-webfont.eot');
    src: url('/fonts/n27-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/n27-regular-webfont.woff2') format('woff2'),
         url('/fonts/n27-regular-webfont.woff') format('woff'),
         url('/fonts/n27-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body, html {
    height: 100%;
    margin: 0;
  }

    header {
    text-align: center;
  }
  
  .logo-header {
    max-width: 3%;
    padding-top: 3%;
  }
  
  
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
  
  .vertical-menu {
    padding-top: 5%;
    padding-left: 5%;
  }
  
  .vertical-menu a {
    font-family: "n27regular"; 
    text-align: center;
    font-size: 20px;
    padding: 8px;
    text-decoration: none;
    color: #333;
    display: block;
  }
  
  .vertical-menu a:hover {
    text-decoration: underline;
  }
  
  .content {
    font-family: "n27regular";
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-left: -5%;
}

  

  


.product {
  flex-basis: 50%;
  padding: 10px;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product h2 {
  margin-top: 5%;
  text-align: center;
}

.product .description {
  color: #666;
  margin-bottom: 10%;
}

.buy-button {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-family: "n27regular";
  margin-top: 10px;
}






.product img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.alternate-images {
    display: flex;
    justify-content: center; 
    margin-top: 10px;
}

.alternate-images img {
    max-width: 30%; 
    height: auto;
    transition: opacity 0.3s, border 0.3s; 
    border: 0; 
}

.alternate-images img.selected {
    opacity: 1; 
    border: 2px solid black;
}

.alternate-images img:not(.selected) {
    opacity: 0.6; 
}










   footer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .footer-section {
    color: black;
    text-decoration: none;
    font-size: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bruma {
    max-width: 30%;
    height: auto;
  }
  
  .username{
    font-family: "n27regular"; 
    margin-left: 20px;
  }
  .año {
    font-family: "n27regular"; 
    color: black;
    text-decoration: none;
  }

  .año2 {
    color: black;
    text-decoration: none;
  }


  .instagram-icon {
    max-width: 25px; 
    height: auto;
  }


  @media screen and (max-width: 768px) {

    .logo-header{
      max-width: 12%;
    padding-top: 8%;
    }

    .content {
      margin-left: 0;
      width: 100%;
    }

    .vertical-menu a { 
      font-size: 15px;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }

    .vertical-menu {
        width: 100%;
        order: -1;
        margin-top: 10px;
    }

    .product {
        flex-basis: 100%;
        flex-direction: column;
        align-items: center;
    }

    .product-info {
        text-align: center;
    }

    .product-images{
      width: 100%;
    }

    .product img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .alternate-images {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .alternate-images img {
      max-width: 30%;
    }

    .product h2,
    .buy-button,
    .description {
        width: 100%;
    }

    .product h2,
    .buy-button {
      order: 1;
      margin-top: 10px;
      width: 50%;
      margin-bottom: 10px;
    }

    .description {
        order: 2;
        text-align: center;
    }
}
