@font-face {
  font-family: 'n27regular';
  src: url('/fonts/n27-regular-webfont.eot');
  src: url('/fonts/n27-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/n27-regular-webfont.woff2') format('woff2'),
       url('/fonts/n27-regular-webfont.woff') format('woff'),
       url('/fonts/n27-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body, html {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
}

.logo-bruma {
  max-width: 200px; 
  height: auto;
  margin-bottom: 20px;
}


.mensaje {
  font-family: "n27regular"; 
  font-weight: normal;
  font-size: 40px;
  margin-top: 20px;
}


.instagram-icon {
  max-width: 40px; 
  height: auto;
  margin-top: 50%; 
}