@font-face {
    font-family: 'n27regular';
    src: url('/fonts/n27-regular-webfont.eot');
    src: url('/fonts/n27-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/n27-regular-webfont.woff2') format('woff2'),
         url('/fonts/n27-regular-webfont.woff') format('woff'),
         url('/fonts/n27-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body, html {
    height: 100%;
    margin: 0;
  }

    header {
    text-align: center;
  }
  
  .logo-header {
    max-width: 3%;
    padding-top: 3%;
  }
  
  
  .container {
    display: flex;
    margin-bottom: 10%;
  }
  
  .vertical-menu {
    padding-left: 3%;
    padding-top: 5%;
  }
  
  .vertical-menu a {
    font-family: "n27regular"; 
    font-size: 20px;
    padding: 8px;
    text-decoration: none;
    color: #333;
    display: block;
  }
  
  .vertical-menu a:hover {
    text-decoration: underline;
  }
  
  .content {
    font-family: "n27regular"; 
    flex-grow: 1;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
  }
  
  a img:last-child {
    display: none;  
  }
  a:hover img:last-child {
    display: block;  
  }
  a:hover img:first-child {
    display: none;  
  }
  
  .product {
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }

  .product:hover img {
    transform: scale(1.1); 
}

.product .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0; 
    transition: opacity 0.5s; 
}
  
  .product h2 {
    margin-top: 10px;
    text-align: center; 

  }

   footer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .footer-section {
    color: black;
    text-decoration: none;
    font-size: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bruma {
    max-width: 30%;
    height: auto;
  }
  
  .username{
    font-family: "n27regular"; 
    margin-left: 20px;
  }
  .año {
    font-family: "n27regular"; 
    color: black;
    text-decoration: none;
  }

  .año2 {
    color: black;
    text-decoration: none;
  }


  .instagram-icon {
    max-width: 25px; 
    height: auto;
  }
  