@font-face {
    font-family: 'n27regular';
    src: url('/fonts/n27-regular-webfont.eot');
    src: url('/fonts/n27-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/n27-regular-webfont.woff2') format('woff2'),
         url('/fonts/n27-regular-webfont.woff') format('woff'),
         url('/fonts/n27-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body, html {
    height: 100%;
    margin: 0;
  }

    header {
    text-align: center;
  }
  
  .logo-header {
    max-width: 3%;
    padding-top: 3%;
  }
  
  
  .container {
    display: flex;
  }
  
  .vertical-menu {
    width: 200px;
    padding: 10px;
    padding-top: 5%;
  }
  
  .vertical-menu a {
    font-family: "n27regular"; 
  
    padding: 8px;
    text-decoration: none;
    color: #333;
    display: block;
  }
  
  .vertical-menu a:hover {
    color: grey;
  }
  
  .content {
    font-family: "n27regular"; 
    flex-grow: 1;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap; /* Permite que los productos se envuelvan a la siguiente línea cuando no hay suficiente espacio */
  }
  
  .product {
    width: 25%; /* Hace que cada producto ocupe el 25% del ancho del contenedor principal, mostrando 4 productos por fila */
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }
  
  .product h2 {
    margin-top: 10px;
    text-align: center; /* Alinea el texto al centro */

  }
  footer {
    color: black;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-family: "n27regular";
    font-size: 10px;
  }
  
  .footer-left {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos dentro de .footer-left */
  }
  
  .footer-left img {
    max-height: 30px; /* Ajusta la altura máxima según sea necesario */
    margin-left: 50px; /* Ajusta el margen izquierdo del logo según sea necesario */
    margin-top: 5px; /* Ajusta el margen superior según sea necesario */
  }
  
  .footer-left span {
    margin-left: 5px; /* Ajusta el margen izquierdo del texto según sea necesario */
    display: flex; /* Hace que el contenido del span sea un flex container */
    align-items: center; /* Alinea verticalmente el contenido del span */
  }
  
  .footer-center {
    flex-grow: 1;
  }
  
  .footer-right {
    text-align: right;
  }
  
  footer a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  