@font-face {
  font-family: 'n27regular';
  src: url('/fonts/n27-regular-webfont.eot');
  src: url('/fonts/n27-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/n27-regular-webfont.woff2') format('woff2'),
       url('/fonts/n27-regular-webfont.woff') format('woff'),
       url('/fonts/n27-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}



.container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  text-align: center;
}

.logo-bruma {
  max-width: 30%; 
  height: auto;
}


.mensaje {
  font-family: "n27regular"; 
  font-weight: normal;
  font-size: 60px;
  margin-top: 60px;
}


.instagram-icon {
  max-width: 40px; 
  height: auto;
}



footer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-section {
  color: black;

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bruma {
  max-width: 30%;
  height: auto;
}

.username{
  font-family: "n27regular"; 
  margin-left: 20px;
}
.año {
  font-family: "n27regular"; 
}



@media (max-width: 600px) {

  .wrapper {
    min-height: 75vh;
  }
  
  footer {
    display: block;
    text-align: center;
  }

  .footer-section {
    margin: 1vh 0;
  }

  .bruma{
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 50%;

  }

  .año{
    font-size: 10 px;
  }
}