<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Bruma</title>
    <link rel="stylesheet" href="/css/styles_coming.css">
    <link rel="icon" href="/images/logo.svg" type="image/svg+xml">
</head>
<body>
    <header>
      <a href="/"  class="logo-header">
        <img src="/images/logo.svg" class="logo-header" alt="logo-bruma">
      </a>   
    </header>

    <div class="container">
        <nav class="vertical-menu">
            <a href="/">BRUMA</a>
            <a href="/scented-candles"> SCENTED CANDLES</a>
            <a href="/perfumes"> PERFUMES</a>
            <a href="/contact">CONTACT US</a>
        </nav>

        <div class="content">

          <div class="content">
            <div class="mensaje">
              COMING SOON
            </div>
          </div>




        </div>
    </div>

    <hr width="80%;" color="black"> 

    <footer>
        <div class="footer-section">
            <div class="a単o">
                &copy; 2023 by BRUMA
            </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.instagram.com/bruma_perfume/" style="display: contents;">
          <img src="/images/instagram.svg" class="instagram-icon" alt="instagram">
        </a>
        </div>
        <div class="footer-section">
          <img src="/images/bruma.svg" class="bruma" alt="bruma">
        </div>
        <div class="footer-section">
          <div class="a単o">
            <a class="a単o2" href="">PRIVACY POLICY
            </a>&nbsp;|
            <a class="a単o2" href="">DISCLAIMER</a>          
          </div>
        </div>
    </footer>

</body>
</html>