<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Bruma</title>
    <link rel="stylesheet" href="/css/styles_contact.css">
    <link rel="icon" href="/images/logo.svg" type="image/svg+xml">
</head>
<body>
    <header>
        <a href="/"  class="logo-header">
          <img src="/images/logo.svg" class="logo-header" alt="logo-bruma">
        </a>   
      </header>

    <div class="container">
        <nav class="vertical-menu">
            <a href="/">BRUMA</a>
            <a href="/perfumes"> PERFUMES</a>
            <a href="/collabs"> COLLABORATION</a>
            <a href="/contact" style="text-decoration: underline">CONTACT US</a>
        </nav>

        <div class="content">

            <div class="contact_us">
                <h2>Contact Us</h2>
                
                <div class="contact-info">
                    <p class="info-label">E-MAIL</p>
                    <p class="info-value">example@example.com</p>
                </div>
            
                <div class="contact-info">
                    <p class="info-label">INSTAGRAM</p>
                    <div class="instagram-container">
                        <img src="/images/instagram.svg" class="instagram" alt="instagram">
                        <p>bruma_perfume</p>
                    </div>
                </div>
            </div>
            
            <hr class="hr">
            
            <form action="/enviar" method="post">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
            
                <label for="email">Correo electrónico:</label>
                <input type="email" id="email" name="email" required>
            
                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
            
                <button type="submit">Enviar</button>
            </form>




        </div>
    </div>

    <hr width="80%;" color="black"> 

    <footer>
        <div class="footer-section">
            <div class="año">
                &copy; 2023 by BRUMA
            </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.instagram.com/bruma_perfume/" style="display: contents;">
          <img src="/images/instagram.svg" class="instagram-icon" alt="instagram">
        </a>
        </div>
        <div class="footer-section">
          <img src="/images/bruma.svg" class="bruma" alt="bruma">
        </div>
        <div class="footer-section">
          <div class="año">
            <a class="año2" href="">PRIVACY POLICY
            </a>&nbsp;|
            <a class="año2" href="/disclaimer">DISCLAIMER</a>          
          </div>
        </div>
    </footer>


</body>
</html>