<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Bruma</title>
    <link rel="stylesheet" href="/css/styles_disclaimer.css">
    <link rel="icon" href="/images/logo.svg" type="image/svg+xml">
</head>
<body>
    <header>
      <a href="/"  class="logo-header">
        <img src="/images/logo.svg" class="logo-header" alt="logo-bruma">
      </a>   
    </header>

    <div class="container">
        <nav class="vertical-menu">
            <a href="/">BRUMA</a>
            <a href="/perfumes"> PERFUMES</a>
            <a href="/collabs"> COLLABS</a>
            <a href="/contact">CONTACT US</a>
        </nav>

        <div class="content">

          <div class="content">
            <div class="mensaje">
              <h1>DISCLAIMER/DESCARGO DE RESPONSABILIDAD</h1>
              <h3>Este sitio web tiene como objetivo proporcionar información general sobre BRUMA. BRUMA revisará periódicamente el sitio web y realizará cambios y actualizaciones cuando lo considere apropiado.</h3>
              <h3>Cualquier información contenida en este documento no se utilizará como base para la toma de decisiones. Si tiene alguna duda sobre cualquiera de los contenidos de este sitio web, debe obtener asesoramiento profesional relevante e independiente.</h3>
              <h3>Toda la información y los contenidos contenidos en este sitio web se proporcionan únicamente como referencia. BRUMA no representa ni garantiza la exactitud, confiabilidad o actualidad de la información y los contenidos contenidos en este sitio web.</h3>  
              <h3>BRUMA no acepta ninguna responsabilidad por cualquier pérdida o daño directo o indirecto (ya sea por agravio, contrato o de otro modo) que pueda sufrir u ocasionar cualquier persona que utilice la información o los contenidos contenidos en este sitio web, cualquiera que sea su origen, ya sea debido a inexactitud, incompleta , omisión, error o de otro tipo, con respecto a cualquier información y contenido proporcionado en este sitio web (incluidos, entre otros, sitios web de terceros a los que se accede mediante hipervínculo a través de este sitio web).</h3>
            </div>
          </div>




        </div>
    </div>

    <hr width="80%;" color="black"> 

    <footer>
        <div class="footer-section">
            <div class="año">
                &copy; 2023 by BRUMA
            </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.instagram.com/bruma_perfume/" style="display: contents;">
          <img src="/images/instagram.svg" class="instagram-icon" alt="instagram">
        </a>
        </div>
        <div class="footer-section">
          <img src="/images/bruma.svg" class="bruma" alt="bruma">
        </div>
        <div class="footer-section">
          <div class="año">
            <a class="año2" href="">PRIVACY POLICY
            </a>&nbsp;|
            <a class="año2" href="" style="text-decoration: underline" >DISCLAIMER</a>          
          </div>
        </div>
    </footer>

</body>
</html>