<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bruma</title>
  <link rel="stylesheet" href="/css/styles_coming.css">
  <link rel="icon" href="/images/logo.svg" type="image/svg+xml">
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <div class="content">
        <img src="/images/logo.svg" class="logo-bruma" alt="logo-bruma">
        <div class="mensaje">
          COMING SOON
        </div>
      </div>
    </div>
  </div>
  <hr width="80%;" color="black"> 
  <footer>
    <div class="footer-section">
      <img src="/images/instagram.svg" class="instagram-icon" alt="instagram">

      <div>
        <span class="username">bruma_perfume</span>
      </div>
    </div>
    <div class="footer-section">
      <img src="/images/bruma.svg" class="bruma" alt="bruma">
    </div>
    <div class="footer-section">
      <div class="año">
        &copy; 2023 by BRUMA
      </div>
    </div>
  </footer>


</body>
</html>