<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bruma</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/images/logo.svg" type="image/svg+xml">

</head>
<body>
  <div class="container">
    <div class="content">
      <object type="image/svg+xml" data="/images/logo.svg" class="logo-bruma">
        Tu navegador no admite SVG.
      </object>
      
      <div class="mensaje">
        COMING SOON.
      </div>

      <!-- <a href="https://www.instagram.com/bruma_perfume/" target="_blank" rel="noopener noreferrer">
        <img src="/images/instagram.svg" alt="Instagram Icon" class="instagram-icon">
      </a> -->

    </div>
  </div>
</body>
</html>