<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Bruma</title>
    <link rel="stylesheet" href="/css/styles_home.css">
    <link rel="icon" href="/images/logo.svg" type="image/svg+xml">
</head>
<body>
    <header>
      <a href="/"  class="logo-header">
        <img src="/images/logo.svg" class="logo-header" alt="logo-bruma">
      </a>   
    </header>

    <div class="container">
        <nav class="vertical-menu">
            <a href="/">BRUMA</a>
            <a href="/perfumes"> PERFUMES</a>
            <a href="/collabs"> COLLABORATION</a>
            <a href="/contact">CONTACT US</a>
        </nav>

        <div class="content">

          <div class="content">
            <img src="/images/home.png" style="width: 60%;">

            <div class="mensaje">
                <h3>Nuestros sentidos nos guían a través de la vida y experimentan historias con nosotros.
                </h3>
                <h3>¿Qué harías si pudieras embotellar el tiempo?

                </h3>
                <h3>Al igual que un museo, nuestros frascos de perfume son salas de exposición de recuerdos. La fragancia es una pintura incolora. Pinta una imagen del paisaje y de los sentimientos de la vida: un estado de ánimo que podes llevar.

                </h3>
                <h3>Rocíalo y abrí una puerta a la memoria. Despertá la viveza de alguien, de un lugar, de un día.
                </h3>
                <h3>El olor es una forma de belleza que no se puede ver con los ojos, al igual que las cosas reales de la vida.
                </h3>
                <h3>Con cada botella hecha y empaquetada a mano, aspiramos a ofrecer sencillez, un espacio tranquilo para experimentar la serenidad y la belleza. Esperamos brindarte una sensación de paz al abandonar la complejidad y elegir la simplicidad.
                </h3>
                <h3>En medio del bullicio, se puede sentir la calidez y pureza del trabajo artesanal.
                </h3>
                <h3>Abrí una botella, revive un recuerdo, y no olvides respirar; entonces empiezas a ver la perfección porque la BRUMA ya se desvaneció.
                </h3>
                <h3>Esta es nuestra historia. ¿Cuál es la tuya?</h3>
            </div>
          </div>




        </div>
    </div>

    <hr width="80%;" color="black"> 

    <footer>
        <div class="footer-section">
            <div class="año">
                &copy; 2023 by BRUMA
            </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.instagram.com/bruma_perfume/" style="display: contents;">
          <img src="/images/instagram.svg" class="instagram-icon" alt="instagram">
        </a>
        </div>
        <div class="footer-section">
          <img src="/images/bruma.svg" class="bruma" alt="bruma">
        </div>
        <div class="footer-section">
          <div class="año">
            <a class="año2" href="">PRIVACY POLICY
            </a>&nbsp;|
            <a class="año2" href="/disclaimer">DISCLAIMER</a>          
          </div>
        </div>
    </footer>

</body>
</html>