<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bruma</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/images/logo.svg" type="image/svg+xml">
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <div class="content">
        <object type="image/svg+xml" data="/images/logo.svg" class="logo-bruma">
          Tu navegador no admite SVG.
        </object>
        
        <div class="mensaje">
          COMING SOON.
        </div>
      </div>
    </div>
  </div>

  <hr width="80%;" color="black"> 

  <footer>
    <div class="footer-section">
      <object type="image/svg+xml" data="/images/instagram.svg" class="instagram-icon">
        Tu navegador no admite SVG.
      </object>
      <div>
        <span class="username">BRUMA_PERFUME</span>
      </div>
    </div>
    
    <div class="footer-section">
      <object type="image/svg+xml" data="/images/bruma.svg" class="bruma">
        Tu navegador no admite SVG.
      </object>
    </div>
    <div class="footer-section">
      <div class="año">
        &copy; 2023 BRUMA
      </div>
    </div>
  </footer>


</body>
</html>