<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bruma</title>
    <link rel="stylesheet" href="/css/styles_home.css">
    <link rel="icon" href="/images/logo.svg" type="image/svg+xml">
</head>
<body>
    <header>
        <img src="/images/logo.svg" class="logo-header" alt="logo-bruma">
    </header>

    <div class="container">
        <nav class="vertical-menu">
            <a href="#">BRUMA</a>
            <a href="#"> SCENTED CANDLE</a>
            <a href="#">CONTACT US</a>
            <!-- Agrega más categorías según sea necesario -->
        </nav>

        <div class="content">
            <div class="product">
                <img src="/images/1.png" alt="Producto 1">
                <h2>001<h2>
            </div>

            <div class="product">
                <img src="/images/1.png" alt="Producto 2">
                <h2>002</h2>
            </div>

            <div class="product">
                <img src="/images/1.png" alt="Producto 2">
                <h2>003</h2>
            </div>

            <div class="product">
                <img src="/images/1.png" alt="Producto 2">
                <h2>004<h2>
            </div>

            <!-- Agrega más productos según sea necesario -->
        </div>
    </div>

    <hr width="80%;" color="black"> 

    <footer>
        <div class="footer-left">
            &copy; 2023 by BRUMA
            <img src="/images/instagram.svg" alt="Instagram Logo">
        </div>
        <div class="footer-center"></div>
        <div class="footer-right">
            <a href="privacy_policy.html">PRIVACY POLICY
            </a>&nbsp;&nbsp;&nbsp;|
            <a href="disclaimer.html">DISCLAIMER</a>
        </div>
    </footer>

</body>
</html>