<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bruma</title>
    <link rel="stylesheet" href="/css/styles_home.css">
    <link rel="icon" href="/images/logo.svg" type="image/svg+xml">
</head>
<body>
    <header>
        <img src="/images/logo.svg" class="logo-header" alt="logo-bruma">
    </header>

    <div class="container">
        <nav class="vertical-menu">
            <a href="http://localhost:3000">BRUMA</a>
            <a href="#"> SCENTED CANDLE</a>
            <a href="#">CONTACT US</a>
        </nav>

        <div class="content">
            <div class="product">
                <a href="http://localhost:3000/product">
                    <img src="/images/1.png" alt="Producto 1">
                    <img src="/images/2.png" alt="Producto 1">
                </a>
                <h2>001<h2>
            </div>

            <div class="product">
                <a href="http://localhost:3000/product">
                    <img src="/images/1.png" alt="Producto 1">
                    <img src="/images/2.png" alt="Producto 1">
                </a>
                <h2>002</h2>
            </div>

            <div class="product">
                <a href="http://localhost:3000/product">
                    <img src="/images/1.png" alt="Producto 1">
                    <img src="/images/2.png" alt="Producto 1">
                </a>
                <h2>003</h2>
            </div>

        </div>
    </div>

    <hr width="80%;" color="black"> 

    <footer>
        <div class="footer-section">
            <div class="a単o">
                &copy; 2023 by BRUMA
            </div>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="/images/instagram.svg" class="instagram-icon" alt="instagram">
    

        </div>
        <div class="footer-section">
          <img src="/images/bruma.svg" class="bruma" alt="bruma">
        </div>
        <div class="footer-section">
          <div class="a単o">
            <a class="a単o2" href="">PRIVACY POLICY
            </a>&nbsp;|
            <a class="a単o2" href="">DISCLAIMER</a>          </div>
        </div>
      </footer>

</body>
</html>